@{
    ViewBag.Title = "Hallo København, Den Kristne Menighed i København's interne websted";
    if (ViewBag.ContentWidth == null) {
        ViewBag.ContentWidth = 604;
    }
    if (ViewBag.ShowLeft != true) { ViewBag.ContentWidth += 157; }
    if (ViewBag.ShowRight != true) { ViewBag.ContentWidth += 157; }
        
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("http://widgets.brunstadworld.org/widgets.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Hallo.js")

    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35607073-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!--    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />-->
</head>
<body>
    <script src="http://widgets.brunstad.org/TopBar/js?mode=public" type="text/javascript"></script>
    <a id="top"></a>
    <div id="containerDiv">
        <div id="bannerDiv">
            <img src="~/Images/banner2012.png" />
        </div>
        @if (ViewBag.ShowLeft == true) {
            <div id="frontpageLeft">
                @*@Html.Partial("_BKMAccount")*@
                @*@Html.Action("Menu", "Home")*@
                @Html.Partial("_Links")
                @Html.Partial("_Contacts")
            </div>
        }
        <div id="Content" style="width: @(ViewBag.ContentWidth)px;">
            <div style="text-align: center;">
                <p class="htitel">@ViewBag.Headline</p>
            </div>
            @RenderBody()
            <br />
            <div style="text-align: center;">
                <img alt="spacer" src="~/Images/ar_rup.gif" />&nbsp;<a href="#top" class="smalltext">Tilbage til toppen </a>
            </div>
            <br />
            <br />
            <div class="smalltext" style="text-align: center;">
                © Udviklet af Comedia Internet, K&oslash;benhavn. <a href='mailto:<% Response.Write(Constant.webmasterMail); %>'>Kontakt Webmaster</a>
                <br />
                <br />
            </div>
        </div>

        @if (ViewBag.ShowRight == true) {
            <div id="frontpageRight">
                @Html.Action("CurrentInfo", "InfoBox")
                <div class="fpBox">
                    Ugeprogram
                </div>
                <div class="fpBox">
                    Dagens jubilanter
                </div>
                <div class="fpBox">
                    Næste fest
                </div>
            </div>
        }
    </div>
    <a id="bottom"></a>

    @RenderSection("scripts", required: false)

    @if (ViewBag.ContentPadding == null) {
        <script>
            $(document).ready(function () {
                $("#Content").css("padding", "20px");
            });
        </script>
    }
</body>
</html>
