@using System.Configuration
@{
    ViewBag.Title = ConfigurationManager.AppSettings["Title"];
    if (ViewBag.ContentWidth == null) {
        ViewBag.ContentWidth = 761;
    }
    if (ViewBag.ShowLeft == false) { ViewBag.ContentWidth += 157; }
    if (ViewBag.ShowRight == true) { ViewBag.ContentWidth -= 157; }
        
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("http://widgets.brunstadworld.org/widgets.css")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Hallo.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/plugins")

    <link href="http://cdn.kendostatic.com/2013.2.716/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2013.2.716/styles/kendo.blueopal.min.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.kendostatic.com/2013.2.716/js/kendo.web.min.js"></script>
    <script src="http://cdn.kendostatic.com/2013.2.716/js/kendo.aspnetmvc.min.js"></script>
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>

    <!--
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35607073-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>-->

    <style>
        #bannerDiv {
            display: none;
        }
    </style>
</head>
<body>
    <script src="http://widgets.brunstad.org/TopBar/js?mode=public" type="text/javascript"></script>
    <a id="top"></a>
    <div id="containerDiv">
        <div id="bannerDiv">
            @for (int i = 1; i <= 10; i++) {
                <a href="/Home"><img src="/Images/banner/@(i).jpg" /></a>             
            }
        </div>
        <script>
            $(function () {
                $("#bannerDiv").slidesjs({
                    width: 998,
                    height: 190,
                    play: {
                        auto: true,
                        interval: 5000,
                        effect: "fade"
                    },
                    effect: {
                        fade: {
                            speed: 2000
                        }
                    }
                });
            });
        </script>
        @if (ViewBag.ShowLeft != false) {
            <div id="frontpageLeft">
                @*@Html.Partial("_BKMAccount")*@
                @*@Html.Action("Menu", "Home")*@
                @Html.Partial("_Links")
                @Html.Partial("_Contacts")
            </div>
        }
        <div id="Content" style="width: @(ViewBag.ContentWidth)px;">
            <div style="text-align: center;">
                <p class="htitel">@ViewBag.Headline</p>
            </div>
            @RenderBody()
            <br />
            <div style="text-align: center;">
                <img alt="spacer" src="~/Images/ar_rup.gif" />&nbsp;<a href="#top" class="smalltext">Tilbage til toppen </a>
            </div>
            <br />
            <br />
            <div class="smalltext" style="text-align: center;">
                © Udviklet af Comedia Internet, K&oslash;benhavn. 
                <br />
                <br />
            </div>
        </div>

        @if (ViewBag.ShowRight == true) {
            <!--<div id="frontpageRight">
                @*@Html.Action("CurrentInfo", "InfoBox")*@
                <div class="fpBox">
                    Ugeprogram
                </div>
                <div class="fpBox">
                    Dagens jubilanter
                </div>
                <div class="fpBox">
                    Næste fest
                </div>
            </div>-->
        }
    </div>
    <a id="bottom"></a>

    @RenderSection("scripts", required: false)

    @if (ViewBag.ContentPadding == null) {
        <script>
            $(document).ready(function () {
                $("#Content").css("padding", "20px");
            });
        </script>
    }
</body>
</html>
