@using System.Configuration
@{
    ViewBag.Title = ConfigurationManager.AppSettings["Title"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    @Styles.Render("http://widgets.brunstadworld.org/widgets.css")
    <link href="~/Content/bootstrap.min.css" media="screen" rel="stylesheet" />
    <link href="~/Content/cerulean-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Hallo.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/plugins")

    <link href="http://cdn.kendostatic.com/2014.1.318/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2014.1.318/styles/kendo.blueopal.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2014.1.318/styles/kendo.dataviz.blueopal.min.css" rel="stylesheet" type="text/css" />

    <script src="http://cdn.kendostatic.com/2014.1.318/js/kendo.web.min.js"></script>
    <script src="http://cdn.kendostatic.com/2014.1.318/js/kendo.aspnetmvc.min.js"></script>
    <script src="http://cdn.kendostatic.com/2014.1.318/js/cultures/kendo.culture.da-DK.min.js"></script>

    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script type="text/javascript">
        kendo.culture("da-DK");
    </script>
    <!--
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35607073-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>-->

    <style>
        #bannerDiv {
            display: none;
        }
    </style>
</head>
<body>
    <script src="http://widgets.brunstad.org/TopBar/js?mode=public" type="text/javascript"></script>
    <a id="top"></a>
    <header class="container hidden-xs">
        @Html.Partial("_Banner")
    </header>
    <div class="container">
        @if (ViewBag.ShowLeft != false) {
            <section id="frontpageLeft" class="col-md-2" style="padding-left: 0px;">
                @*@Html.Partial("_BKMAccount")*@
                @Html.Action("Menu", "Home")
                @Html.Partial("_Contacts")
            </section>
        }

        <!-- With of Content-section can vary -->
        <section id="Content" class="col-md-@(ViewBag.ShowRight != true ? "10" : "8")" 
            style="padding-top: 10px;">
            <!-- Headline will show, if anyone is defined -->
            <div style="text-align: center;">
                <p class="htitel">@ViewBag.Headline</p>
            </div>
            @RenderBody()
        </section>

        @if (ViewBag.ShowRight == true) {
            <section id="frontpageRight" class="col-md-2" 
                style="padding-right: 0px; padding-top: 20px;">
                @Html.Partial("_WeekCalender")
                @Html.Partial("_Birthdays")
                @*@Html.Action("Birthdays", "User")
                 @*Html.Action("CurrentInfo", "InfoBox")*@
            </section>
        }
    </div>

    <a id="bottom"></a>
    <footer class="container">
        <div style="text-align: center;" class="col-md-12">
            <img alt="spacer" src="~/Images/ar_rup.gif" />&nbsp;<a href="#top" class="smalltext">Tilbage til toppen </a>
        </div>
        <br />
        <br />
        <div class="col-md-12 smalltext" style="text-align: center;">
            © Udviklet af Comedia Internet, K&oslash;benhavn.
            <br />
            <br />
        </div>
    </footer>
    @RenderSection("scripts", required: false)

    @if (ViewBag.ContentPadding == null) {
        <script>
            $(document).ready(function () {
                $("#Content").css("padding", "20px");
            });
        </script>
    }
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
