@using HalloDal.Models.Content;
@using Hallo.ViewModels;
@using Hallo.Images;
@model Article

@{
    ViewBag.Title = "Article";
}

<h2>@Model.Headline</h2>
<img src="~/images/bluespc.gif" style="height: 1px; width: 95%;" /><br />
<span class="bigtext" style="font-style: italic;">Af @Model.Author</span><br />
<span class="smalltext">@Model.Date.ToShortDateString()</span><br />

<div class="bigtext">
    <table border="0" style="float: right;">
        <tr>
            @if (Model.FrontpageImage != null) {
                <td class="btext" style="width: 200px;">
                    <img class="taimg" src="@(FrontPageArticle.ImageDirectoryUrl + "/thumbnails/img" +
                        (Model.FrontpageImage.OldId == null ? Model.FrontpageImage.Id : Model.FrontpageImage.OldId) +
                        ".jpg")" />
                    <br />
                    @Model.FrontpageImage.Description
                </td>
            }
        </tr>
    </table>
    <div>
        @Html.Raw(Model.Text)
    </div>
</div>
<table style="text-align: center; margin: 0 auto;">
    <tr>
        @{
            List<Image> iList = Model.Images.OrderBy(i => i.OrderNr).ToList();    
        }
        @foreach (Image i in iList) {
            <td class="btext" style="width: 200px; text-align: left;">
                <img class="taimg" src="@ImageFinder.GetThumbUrl(i)" id="img@(i.OrderNr)" /><br />
                @i.Description
            </td>
            @Html.Raw((i.OrderNr + 1) % 3 == 0 ? "</tr><tr>" : "")
        }
        @{
            iList.Add(Model.FrontpageImage);
        }
    </tr>
</table>

