@using System;
@model HalloDal.Models.Users.User

@{
    ViewBag.Title = "Index";
}

<table>
    @foreach (String s in Session.Keys) { 
        <tr>
            <td>@s</td>
            <td>@Session[s]</td>
        </tr>    
    }

    @foreach (String s in Request.Cookies.AllKeys) { 
        <tr>
            <td>@s</td>
            <td>@Request.Cookies[s].Value</td>
        </tr>
    }
    <tr><td>Url:</td>
        <td>@(((Hallo.ViewModels.FrontPageArticle)ViewBag.Article).ImageUrl)</td></tr>
    

    <tr><td>UserId</td><td>@Model.UserId</td></tr>
    <tr><td>Username</td><td>@Model.UserName</td></tr>

</table>

@{
    String text = ViewBag.text;
    text = text.Substring(text.IndexOf('(')+1).Replace(")", "");
}

<p>@text</p>
@*<p>@tal</p>*@


@Html.Kendo().Upload().Name("files")