@model HalloDal.Models.Users.UserGroup


<h2>Brugergruppe</h2>

<fieldset>
    <legend>@Model.GroupName</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Sql):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sql)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Users):
    </div>
    <div class="display-field">
        @foreach (var user in Model.Users) { 
            @Html.DisplayFor(model => model.Sql)
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserGroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
