@model Hallo.ViewModels.FrontPageArticle
<div class="row">
    @if (Model.HasFrontPageImage) {
        <a href='@Html.Raw(Model.ArticleLink)'>
            <img class='img-thumbnail pull-right' src='@Html.Raw(Model.ImageDirectoryUrl)/thumbnails/img@(Model.ImageId).jpg'>
        </a>
    }
    <a href='@Html.Raw(Model.ArticleLink)'>
        @if (Model.Newest) {
            <h2 style='margin-top: 0px;'>@Model.Article.Headline</h2>
        } else {
            <h3>@Model.Article.Headline</h3>
        }
        @if (Model.Article.IsPublic == false) {
            <div class='text-info'>(Vises kun for venner med login)</div>
        }
    </a>
    <i>@Html.Raw(Model.DatoString)</i>
    @Html.Raw(Model.Article.FrontpageText)
</div>
<div class="row" style="padding: 0px;">
    <img src="~/images/bluespc.gif" height="1" style="width: 100%;" alt="">
</div>